<div class="page-header"> 
  <div class="float-left">  
    <h1>Surveys</h1>
  </div>  
  <div class="float-right">
    <%= link_to 'New Survey', new_survey_path, class: "survey-button button-right" %>
  </div>  
  <div class="clear-both"></div>
</div>

<div>
  <% if @surveys.present? %>
    <% @surveys.each do |survey| %>
      <table class="survey-question"><hr>
        <thead>
          <tr>  
            <th><%= survey.question %></th><br>
          </tr>
        </thead>
        <tbody>
          <tr>  
            <td><%= link_to 'Vote', new_survey_vote_path(survey), class: "survey-button button-left"  %></td>
          </tr>
          <tr> 
            <td><sub>Yes <%=survey.percent_yes %>% | No <%=survey.percent_no %>%</sub></td>
          </tr>
          <% if user_signed_in? && (current_user.id == survey.surveyor_id) %>
          <tr>
            <td><%= link_to 'Vote Details', survey_votes_path(survey) %> | <%= link_to 'Delete Survey', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %> 
        </tbody>
      </table> 
    <% end %>
  <% else %>
    <p>Get started by creating your first survey!</p>
  <% end %>   
</div>

 
