<p id="notice"><%= notice %></p>

<div class="sub-nav">
  <%= link_to 'Surveys', surveys_path %> > <b>Survey</b>
</div>

<div>
  <h1>Survey</h1>
</div>  

<div class="survey-item">
	<p><b>Survey question:</b> <%= @survey.question %></p> 
	<p><b>To view survey statistics, please visit:</b> <%= link_to 'Votes', survey_votes_path(@survey) %> </p> 
</div>	

<div>
   <%= link_to 'Back', surveys_path %> | <%= link_to 'Edit', edit_survey_path(@survey) %> | <%= link_to 'Delete', @survey, method: :delete, data: { confirm: 'Are you sure?' } %> 
</div>