<%= form_with(model: [@survey, vote], local: true) do |form| %>
  <% if vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
        <% vote.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :survey_id, value: params[:survey_id] %>
  </div>  

  <div class="field">
    <%= form.radio_button :value, 1, required: 'required' %>
    <%= form.label :value, "Yes", value: "Yes" %>
    
    <%= form.radio_button :value, 0 %>
    <%= form.label :value, "No", value: "No" %><br>  
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "survey-button button-left" %>
  </div>
<% end %>


