<div class="sub-nav">
  <div class="sub-nav">
	<%= link_to 'Surveys', surveys_path %> > <%= link_to 'Survey', [@survey] %> > <b>Vote</b>
</div>
</div>

<div>
  <h1>Editing Vote</h1>
</div> 

<div>
	<p><%=@survey.question %></p>
</div>

<div class="button-bottom">
  <%= render 'form', vote: @vote %>
</div>  

<div class="clear-links survey-question">
  <%= link_to 'Back', surveys_path %> | <%= link_to 'Show', [@survey, @vote] %> | <%= link_to 'Delete', [@survey, @vote], method: :delete, data: { confirm: 'Are you sure?' } %>
</div>