<p id="notice"><%= notice %></p>

<div class="sub-nav">
  <%= link_to 'Surveys', surveys_path %> > <%= link_to 'Survey', [@survey] %> > Votes > <%= link_to 'Vote', new_survey_vote_path(@survey) %>
</div>  

<div>
  <h1>Votes</h1>
</div>

<div>
  <p class="survey-item">Here you can explore voting statistics and details about the survey.</p>
</div>  

<div class="survey-item">
  <h4>Survey Question</h4> 
  <p><%= @survey.question %></p>
</div>
      
<div class="survey-item">
  <h4>Voting Statistics</h4> 
  <p><%= render(partial: "statistics/show", locals: { survey: @survey}) %></p>
</div>   

<div>
  <h4>Voting Details</h4>
  <% if @votes.present? %>
    <table>
      <thead>
        <tr>  
          <th>Vote</th>
          <th>Timestamp</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @votes.each do |vote| %>
          <tr>
            <td><%= vote.get_value %></td>
            <td><%= vote.updated_at %></td>
            <td><%= link_to 'Edit', edit_survey_vote_path(@survey, vote) %> | <%= link_to 'Delete', [@survey, vote], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Sorry, this survey does not have voting details.</p>
  <% end %> 
</div> 



