<div>
  <h1>Votes</h1>
</div>

<% if user_signed_in? && (current_user.id == @survey.surveyor_id) %>
  <div>
    <p class="survey-item">Please see below for voting statistics and details.</p>
  </div>  
  <div class="survey-item">
    <p><b>Survey question:</b> <%= @survey.question %></p>
    <p><b>Voting statistics:</b> Yes <%=@survey.percent_yes %>% | No <%=@survey.percent_no %>%</p>
    
    <% if @votes.present? %>
      <p><b>Voting details:</b></p>
      <table id="votes">
        <thead>
          <tr>  
            <th>Vote</th>
            <th>Email</th>
            <th>Timestamp</th>
          </tr>
        </thead>
        <tbody>
          <% @votes.each do |vote| %>
            <tr>
              <td><%= vote.get_value %></td>
              <td><%= vote.voter_email %></td>
              <td><%= vote.updated_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p><b>Voting details:</b> Sorry, this survey does not have voting details.</p>
    <% end %> 
    
  </div> 
<% else %>
  <p>Sorry...you do not have permission to view this page.</p>  
<% end %>

<div>
   <%= link_to 'Back', surveys_path %>  
</div>

